 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Ik geloof</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Ik geloof dat iedereen in onze maatschappij talenten heeft en succesvol kan zijn. Wanneer je je bewust bent van je jezelf, je passies en je mogelijkheden kun je jezelf ontwikkelen tot een zelfbewust en autonoom persoon.</p>
                </div>
                <div class="col-lg-4">
                    <p>Mijn visie is ieder individu centraal te stellen door de persoon in zijn kracht te zetten, door te empoweren en inzichten te geven. Het ontdekken van eigen kwaliteiten en meer bewust te worden van jezelf. </p>
                </div>
            </div>
        </div>
    </section>